---
layout: layouts/post.njk
title: Kvinder
templateClass: tmpl-post
eleventyNavigation:
  key: Kvinder
  parent: Hold
  order: 2
---

{% set playerlist = collections.kvinde %}
{% include "playerlist.njk" %}
