---
layout: layouts/home.njk
description: Det handler om at lege med statisk genereret indhold.
date: Last Modified
image: /img/doener.jpg
---


<div id="posts">
  <h2>Seneste blogposts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>