---
layout: layouts/post.njk
title: Mænd
templateClass: tmpl-post
eleventyNavigation:
  key: Mænd
  parent: Hold
  order: 1

---

{% set playerlist = collections.mand %}
{% include "playerlist.njk" %}

